{% extends "base.html" %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Collinks</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href={{ url_for('index') }}>Information</a>
          </li>

          

          
        <li class="nav-item ">
               <h4> <span class="m-1 nav-item badge badge-pill {{ current_status['badge_class'] }}">{{ current_status['state'] }}</span></h4>
        </li>
        </ul>
        
      </div>
</nav>

  {% block content %}
  {% endblock %}
{% endblock %}